version: '3.8'
services:
  # db:
    # env_file: .env
    # image: postgres
    # restart: "no"
    # volumes:
      # - db_data:/var/lib/postgresql/data
    # ports:
      # - "5432:5432"
  web:
    build: .
    restart: "no"
    command: bash -c "rm -f /app/tmp/pids/server.pid && bundle exec rails s -p 3000 -b '0.0.0.0'"
    volumes:
      - .:/app
    ports:
      - "3000:3000"
    depends_on:
      - db
    env_file: .env
    environment:
      RAILS_ENV: development
      RAILS_MAX_THREADS: 5
volumes:
  postgres:
